@charset "UTF-8";
* {
	box-sizing:border-box;
	margin-top: 0px;
}
body, html {
	width:100%;
	height:100%;
}
body {
	font-family:Sans-Serif;
	padding: 0px;
	background-color: #333;
	color: #FFF;
	margin:0px;
	padding: 0px;
}
.magnify {
	z-index: 20;
	border: 3px solid #999;
	position: relative;
	width:900px;
  	height:640px;
	margin:0px auto;
	overflow: hidden;
}

.magnify img {
	display:block;
}

.element_to_magnify {
	position: relative;
	width:900px;
  	height:640px;
  	overflow: hidden;
}
.element_to_magnify a {
  display:block;
  position:absolute;
  top:80px;
  right:80px;
  background-color:rgba(200, 200, 200, .25);
  padding:4px;
  font-size:18px;
  color:#fff;
}
.element_to_magnify img{
	width: 100%;
	height: auto;
}
.magnified_element {
	
}

.magnify_glass {
	z-index: 300;
	position: absolute;
	border: 4px solid #CCC;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	overflow:hidden;
}

